<header class="container">
  <div class="logo">
    <a href="#">News</a>
  </div>
  <nav>
    <ul>
      <li class="current">
        <a href="./partials/home_page/home_page.html">Home</a>
      </li>
      <li class="current">
        <a href="./partials/favourite_page/favourite_page.html">Favorite</a>
      </li>
      <li class="current">
        <a href="./partials/read_page/read_page.html">Read</a>
      </li>
    </ul>
  </nav>
  <div class="search">
    <input class="search-input" type="text" placeholder="Search" />
    <button class="search-btn">
      <svg class="search-icon">
        <use href="../src/icons/sprite.svg#icon-search-icon"></use>
      </svg>
    </button>
  </div>
  <div class="theme-choice">
    <ul class="switch-btn_choice">
      <li class="switch-btn_choice_light switch-btn_choice_text">Light</li>
      <svg class="switch-btn_choice_ligh-icon switch-btn_choice_icon">
        <use href="../src/icons/sprite.svg#icon-Light"></use>
      </svg>
      <li class="switch-btn switch-on"></li>
      <li class="switch-btn_choice_black switch-btn_choice_text">Black</li>
      <svg class="switch-btn_choice_black-icon switch-btn_choice_icon">
        <use href="../src/icons/sprite.svg#icon-Black"></use>
      </svg>
    </ul>
  </div>
  <button class="burger-btn">
    <svg class="burger-btn-icon">
      <use href="../src/icons/sprite.svg#icon-burger-btn"></use>
    </svg>
  </button>
</header>
