<header>
  <div class="logo">
    <a href="#">News</a>
  </div>
  <nav>
    <ul>
      <li class="current">
        <a href="./partials/home_page/home_page.html">Home</a>
      </li>
      <li class="current">
        <a href="./partials/favourite_page/favourite_page.html">Favorite</a>
      </li>
      <li class="current">
        <a href="./partials/read_page/read_page.html">Read</a>
      </li>
    </ul>
  </nav>

  <div class="search">
    <form class="search-form" id="search-form">
      <button type="submit" class="search-form__button">
        <svg
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="search-form__svg"
        >
          <path
            d="M7.33317 13.2499C8.81232 13.2496 10.2488 12.7792 11.414 11.9136L15.0773 15.3938L16.2557 14.2743L12.5923 10.7942C13.504 9.68715 13.9995 8.32214 13.9998 6.91658C13.9998 3.42454 11.009 0.583252 7.33317 0.583252C3.65734 0.583252 0.666504 3.42454 0.666504 6.91658C0.666504 10.4086 3.65734 13.2499 7.33317 13.2499ZM7.33317 2.16659C10.0907 2.16659 12.3332 4.29696 12.3332 6.91658C12.3332 9.53621 10.0907 11.6666 7.33317 11.6666C4.57567 11.6666 2.33317 9.53621 2.33317 6.91658C2.33317 4.29696 4.57567 2.16659 7.33317 2.16659Z"
            fill="#111321"
          />
        </svg>
      </button>
      <label for="search" class="search-form__label">
        <input
          type="text"
          name="search"
          placeholder="Search"
          class="search-form__input"
        />
      </label>
    </form>

    <input class="search-input" type="text" placeholder="Search" />
    <button class="search-btn">
      <svg class="search-icon">
        <use href="../src/icon/sprite.svg#icon-search-icon"></use>
      </svg>
    </button>
  </div>
  <div class="theme-choice">
    <ul class="switch-btn_choice">
      <li class="switch-btn_choice_light switch-btn_choice_text">Light</li>
      <svg class="switch-btn_choice_ligh-icon switch-btn_choice_icon">
        <use href="../src/icon/sprite.svg#icon-Light"></use>
      </svg>
      <li class="switch-btn switch-on"></li>
      <li class="switch-btn_choice_black switch-btn_choice_text">Black</li>
      <svg class="switch-btn_choice_black-icon switch-btn_choice_icon">
        <use href="../src/icon/sprite.svg#icon-Black"></use>
      </svg>
    </ul>
  </div>
  <button class="burger-btn">
    <svg class="burger-btn-icon">
      <use href="../src/icon/sprite.svg#icon-burger-btn"></use>
    </svg>
  </button>
</header>
