.logo {
  display: inline-block;
  animation: lightSpeedInLeft;
  animation-duration: 2s;
}
/////navigation///////////
.current {
  animation: pulse;
  animation-duration: 2s;
}
.search {
  animation: pulse;
  animation-duration: 2s;
}
/////////////button categories///////
.newsHP-categories {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsHP-categories:after {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// /////////////button categories///////

/////////////button categories tablet/destop///////

/////////////button categories tablet/destop//////////
///button read more///////
.newsHomePage-readMore-link {
  //   display: block;
  border-radius: 5px;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #00c6ff 50%,
    var(--accent-color)
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  font: 400 18px tahoma;
  //   border: 1px solid #00c6ff;
}
.newsHomePage-readMore-link:hover {
  background-position: 0 0;
  color: #fff;
}

///header/////
///link///////
.footer-social-link:active {
  //   background-color: #1410da;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
///link///////

.btn-footer:active {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

////////////button subscribe///////
