.default-news {
  margin-top: 40px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 88px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 120px;
    margin-bottom: 226px;
  }
}

.default-news-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  margin: auto;
  letter-spacing: -0.01em;
  color: #111321;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.37;
    width: 548px;
    margin-bottom: 40px;
  }
}
.dark .default-news-title {
  color: #ffffff;
}
.default-news-img {
  margin: 0 auto;
  width: 250px;
  height: 200px;

  @media screen and (min-width: 768px) {
    width: 560px;
    height: 444px;
  }
  @media screen and (min-width: 1280px) {
    width: 601px;
    height: 478px;
  }
}
