// .container.default-news {
//   max-width: 320px;
// }

.default-news-title {
  margin: 40px 0 40px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: -0.01em;
  color: #111321;

  @media screen and (min-width: 1280px) {
    font-size: 40px;
    line-height: 55px;
  }
}
.default-news-img {
  margin: 0 auto;
  width: 250px;
  height: 200px;

  @media screen and (min-width: 768px) {
    width: 560px;
    height: 444px;
  }
  @media screen and (min-width: 1280px) {
    width: 601px;
    height: 478px;
  }
}
