// =====================mobile-menu=====================

.header-mobile {
  padding-left: 16px;
  padding-right: 16px;
  height: 33px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-mobile {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #111321;
  text-decoration: none;
}

.dark .logo-mobile {
  color: #f4f4f4;
}

.burger-menu.is-open {
  visibility: visible;
}

.burger-menu {
  visibility: hidden;
  padding-top: 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  opacity: 1;
  pointer-events: 0;
}

.dark .burger-menu {

    background-color: #2e2e2e;

}

.closeburgmenu {
  position: relative;
  color: var(--txt-col);
  width: 24px;
  height: 24px;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  z-index: 100;
  transition: fill 250ms var(--timing-funcion);
}

.btn-close_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dark .btn-close_icon {
  fill: #f4f4f4;
}

.dark .closeburgmenu {

    background-color: #2e2e2e;

}

.burgmenu__navlist {
  list-style: none;
  margin-top: 68px;
}

.burgmenu__navlink {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 28px;

  &:hover,
  &:focus {
    background-color: #4440f6;
  }
}

.current.burgmenu__navlink {
  background-color: #4440f6;
  border-color: #f4f4f4;
}

.burg__icon {
  border-radius: 50%;
  stroke: #f4f4f4;
  stroke-width: 2px;
}

.burgmenu__link {
  display: flex;
  gap: 13px;
  height: 45px;
  align-items: center;
  text-align: left;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.burgmenu__link-text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: #111321;

  &:hover {
    color: #f4f4f4;
  }
}

.current .burgmenu__link-text {
  color: #f4f4f4;
}

.dark .burgmenu__link-text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: #f4f4f4;

  &:hover {
    color: #f4f4f4;
  }
}

.burg__shevron {
  margin-left: auto;
}
