
<div class="home-page-container">
    <div class="items-to-choose">
        <button class="newsHP-categories">Categories
            <svg class="categ-arrow-down" width="14" height="14">
                <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
        </button>

        <div class="calendar-form">
            <p class="calendar-form__text">Search date news</p>

            <div class="calendarPicker">
                <button class="choseDataButton" id="choseDataButton" data-time=""></button>
                <svg class="calendar-icon" width="14" height="14">
                    <use href="/assets/svg/symbol-defs.svg#icon-calendar"></use>
                </svg>
                <svg class="dropdown-icon" width="14" height="14">
                    <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                </svg>

                <div class="container-calendar">
                    <div class="calendar" id="calendar">
                        <div class="calendar-header">
                            <div class="header-left-block">
                                <span class="mounth-year-display" id="mounth-year-display"></span>
                                <button class="year-change" id="next-year">
                                    <svg width="12" height="12">
                                        <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                                    </svg>
                                </button>
                                <div>
                                    <div class="year-list"></div>
                                </div>
                            </div>
                            <div class="mounth-picker" id="mounth-picker">
                                <button class="month-change" id="pre-month">
                                    <svg class="month-change-prev" width="17" height="17">
                                        <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                                    </svg>
                                </button>
                                <button class="month-change" id="next-month">
                                    <svg class="month-change-next" width="17" height="17">
                                        <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="calendar-body">
                            <div class="calendar-week-days"></div>
                            <div class="calendar-days"></div>
                            <div class="calendar-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weather-app">
    <div class="weather-info">
        <h2 class="degrees">23°</h2>
        <span class="info-border">|</span>
        <div class="location">
            <p class="whats-the-weather">Sunny</p>
            <a
                href="https://www.google.com.ua/maps/place/%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4021368,30.2525089,10z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf4ee15a4505:0x5f251d1397901804!8m2!3d50.4501!4d30.5234!16s%2Fg%2F1tjwg7y4?hl=ru">Kyiv</a>

        <div class="articles-to-choose-tablet hidden">
            <button class="article-btn" type="button">Admin</button>
            <button class="article-btn" type="button">Arts</button>
            <button class="article-btn" type="button">Automobiles</button>
            <button class="article-btn" type="button">Books</button>
            <button class="article-btn others" type="button">Others
                <svg class="others-arrow-down" width="14" height="14">
                    <use href="/assets/svg/symbol-defs.svg#icon-arrow-down">
                    </use>
                </svg>
                <svg class="others-arrow-up" width="14" height="14">
                    <use href="/assets/svg/symbol-defs.svg#icon-arrow-up">
                    </use>
                </svg>
            </button>
        </div>
        <button class="newsHP-calendar">
            <svg class="calendar-svg" width="19" height="19">
                <use href="/assets/svg/symbol-defs.svg#icon-calendar">
                </use>
            </svg>
            20/02/2023
            <svg class="calendar-arrow-down" width="14" height="14">
                <use href="/assets/svg/symbol-defs.svg#icon-arrow-down">
                </use>
            </svg></button>
    </div>
 
    <div class="gallery">
        <div class="newsHomePage-card">
            <div class="card-picture">
                <img class="newsHomePage-image" src="/assets/HP-1.jpg" alt="news cover" width="288" height="395">
                <p class="newsHomePage-status-read">Already read</p>
                <p class="newsHomePage-search-category">Job searching</p>
                <button class="remove-from-favourite" type="button">Remove from favourite
                    <svg class="heart" width="16" height="16">
                        <use href="/assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
                    </svg>
                </button>
                <button class="add-to-favBtn" type="button">Add to favourite
                    <svg class="heart" width="16" height="16">
                        <use href="/assets/svg/symbol-defs.svg#icon-unclicked_heart"></use>
                    </svg>
                </button>

            </div>
            <div>
                <h2 class="newsHomePage-title">8 tips for passing an online interview that will help you get a job
                </h2>
                <p class="newsHomePage-text">Before you start looking for a job, it is useful to familiarize
                    yourself
                    with the job prospects offered
                    by these...</p>
            </div>
            <div class="homePage-readMore">
                <p class="newsHomePage-date">24/02/2023</p>
                <a class="newsHomePage-readMore-link" href="">Read more</a>
            </div>

        </div>
    </div>

<div class="gallery">
    <div class="newsHomePage-card">
        <div class="card-picture">
            <img class="newsHomePage-image" src="/assets/HP-1.jpg" alt="news cover" width="288" height="395">
            <p class="newsHomePage-status-read">Already read</p>
            <p class="newsHomePage-search-category">Job searching</p>
            <button class="add-to-favBtn" type="button">Add to favourite
                <svg class="heart" width="16" height="16">
                    <use href="/assets/svg/symbol-defs.svg#icon-unclicked_heart"></use>
                </svg>
            </button>
        </div>
        <div>
            <h2 class="newsHomePage-title">8 tips for passing an online interview that will help you get a job
            </h2>
            <p class="newsHomePage-text">Before you start looking for a job, it is useful to familiarize
                yourself
                with the job prospects offered
                by these...</p>
        </div>
        <div class="homePage-readMore">
            <p class="newsHomePage-date">24/02/2023</p>
            <a class="newsHomePage-readMore-link" href="">Read more</a>
        </div>
    </div>
    <div class="newsHomePage-card">

        <div class="card-picture">
            <img class="newsHomePage-image" src="/assets/HP-2.jpg" alt="news cover" width="288" height="395">
            <p class="newsHomePage-status-read">Already read</p>
            <p class="newsHomePage-search-category">Job searching</p>
            <button class="add-to-favBtn" type="button">Add to favourite
                <svg class="heart" width="16" height="16">
                    <use href="/assets/svg/symbol-defs.svg#icon-unclicked_heart">
                    </use>
                </svg>
            </button>
        </div>
        <div>
            <h2 class="newsHomePage-title">How to create an effective work-at-home policy</h2>
            <p class="newsHomePage-text">Before you start looking for a job, it is useful to familiarize
                yourself
                with the job prospects offered by these...</p>
        </div>
        <div class="homePage-readMore">
            <p class="newsHomePage-date">24/02/2023</p>
            <a class="newsHomePage-readMore-link" href="">Read more</a>
        </div>
    </div>
    <div class="newsHomePage-card">
        <div class="card-picture">
            <img class="newsHomePage-image" src="/assets/HP-3.jpg" alt="news cover" width="288" height="395">
            <p class="newsHomePage-search-category">Job searching</p>
            <button class="add-to-favBtn" type="button">Add to favourite
                <svg class="heart" width="16" height="16">
                    <use href="/assets/svg/symbol-defs.svg#icon-unclicked_heart">
                    </use>
                </svg>
            </button>
        </div>
        <div>
            <h2 class="newsHomePage-title">8 tips for passing an online interview that will help you get a job
            </h2>
            <p class="newsHomePage-text">Before you start looking for a job, it is useful to familiarize
                yourself
                with the job prospects offered
                by these...</p>
        </div>
        <div class="homePage-readMore">
            <p class="newsHomePage-date">24/02/2023</p>
            <a class="newsHomePage-readMore-link" href="">Read more</a>
        </div>
    </div>
    <div class="newsHomePage-card">
        <div class="card-picture">
            <img class="newsHomePage-image" src="/assets/HP-4.jpg" alt="news cover" width="288" height="395">
            <p class="newsHomePage-search-category">Job searching</p>
            <button class="add-to-favBtn" type="button">Add to favourite
                <svg class="heart" width="16" height="16">
                    <use href="/assets/svg/symbol-defs.svg#icon-unclicked_heart">
                    </use>
                </svg>
            </button>
        </div>
        <div>
            <h2 class="newsHomePage-title">8 tips for passing an online interview that will help you get a job
            </h2>
            <p class="newsHomePage-text">Before you start looking for a job, it is useful to familiarize
                yourself
                with the job prospects offered
                by these...</p>
        </div>
        <div class="homePage-readMore">
            <p class="newsHomePage-date">24/02/2023</p>
            <a class="newsHomePage-readMore-link" href="">Read more</a>
        </div>
    </div>
</div>
<div class="pagination-buttons">
  
    <button class="prew-btn" type="button">Prew</button>
    <button class="changePage-btn" type="button">1</button>
    <span class="btn-dots">...</span>
    <button class="changePage-btn" type="button">4</button>
    <span class="btn-dots">...</span>
    <button class="changePage-btn" type="button">20</button>
    <button class="next-btn" type="button">Next</button>

</div>
</div>


