<div class="home-page-container">
    <div class="items-to-choose">
        <div class="categories-menu">
            <button class="newsHP-categories">Categories
                <svg class="categ-arrow-down " width="14" height="14">
                    <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                </svg>
            </button>

            <div class="articles-to-choose-tablet">
                <button class="article-btn category" type="button">Admin</button>
                <button class="article-btn category" type="button">Arts</button>
                <button class="article-btn category" type="button">Automobiles</button>
                <button class="article-btn category" type="button">Books</button>
                <button class="article-btn desktop-btn category" type="button">Briefing</button>
                <button class="article-btn desktop-btn category" type="button">Business</button>
                <button class="article-btn others" type="button">Others
                    <svg class="others-arrow-down" width="14" height="14">
                        <use href="/assets/svg/symbol-defs.svg#icon-arrow-down">
                        </use>
                    </svg>
                </button>
            </div>
            <div class="categories hidden">
                <ul class="categories-list"></ul>
            </div>

        </div>

        <div class="calendar-form">
            <p class="calendar-form__text">Search date news</p>
            <div class="calendar-picker">
                <div class="input-form" data-modal-open data-modal-close>
                    <svg class="calendar__button-calendar" width="18" height="18">
                        <use href="/assets/svg/symbol-defs.svg#icon-calendar"></use>
                    </svg>
                    <input readonly id="input-picker" class="calendar-input datepicker-here"
                        placeholder="Choose a date" />
                    <svg class="calendar__button-arrow" width="14" height="14">
                        <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                    </svg>
                </div>
                <div class="calendar-wrapper is-hidden-wrapper" data-modal>
                    <div class="calendar-wrapper__container">
                        <div class="calendar-switcher">
                            <p class="current-date"></p>
                            <span id="next-year" class="calendar-icons year-change"><svg class="current-date__icon"
                                    width="12" height="12" transform="rotate(270)">
                                    <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                                </svg>
                            </span>
                            <div class="">
                                <div class="year-list"></div>
                            </div>
                            <div class="calendar-icons">
                                <span id="prev" class="material-symbols-rounded">
                                    <svg class="calendar__button-arrow-icon" width="14" height="14"
                                        transform="rotate(90)">
                                        <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                                    </svg>
                                </span>
                                <span id="next" class="material-symbols-rounded">
                                    <svg class="calendar__button-arrow-icon" width="14" height="14"
                                        transform="rotate(270)">
                                        <use href="/assets/svg/symbol-defs.svg#icon-arrow-down"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="calendar">
                            <ul class="calendar-weeks__list">
                                <li class="calendar-weeks__item">Sun</li>
                                <li class="calendar-weeks__item">Mon</li>
                                <li class="calendar-weeks__item">Tue</li>
                                <li class="calendar-weeks__item">Wed</li>
                                <li class="calendar-weeks__item">Thu</li>
                                <li class="calendar-weeks__item">Fri</li>
                                <li class="calendar-weeks__item">Sat</li>
                            </ul>
                            <ul class="days">
                                <li class="calendar-days"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="gallery gallery-home gallery-page">
    <div class="weather-app">
        <div class="weather-info">
            <h2 class="degrees"></h2>
            <span class="info-border"></span>
            <div class="location-block">
                <p class="whats-the-weather"></p>
                <button class="show-on-map">
                    <svg class="geolocation-icon" width="19" height="24">
                        <use href="/assets/svg/symbol-defs.svg#icon-geolocation"></use>
                    </svg>
                    <p class="location"></p>
                </button>
            </div>
        </div>
        <div class="sun-moon">
            <img class="weather-icon" src="http://openweathermap.org/img/w/01d.png" alt="Weather icon">
        </div>
        <p class="week-day">Fri</p>
        <p class="weather-date">3 March 2023</p>
        <div class="sinoptik">
            <a class="weatherApp-link"
                href="https://ua.sinoptik.ua/%D0%BF%D0%BE%D0%B3%D0%BE%D0%B4%D0%B0-%D0%BA%D0%B8%D1%97%D0%B2">weather
                for
                week</a>
        </div>
    </div>
    <!-- <div class="newsHomePage-card marked-opacity">
        <div class="card-picture">
            <img class="newsHomePage-image" src="/assets/H1-desktop.jpg" alt="news cover">
            <p class="newsHomePage-status-read">Already read
                <svg class="marked-read" width="18" height="18">
                    <use href="../assets/svg/symbol-defs.svg#icon-already-read"></use>
                </svg>
            </p>
            <p class="newsHomePage-search-category">Job searching</p>
            <button class="remove-from-favourite" type="button">Remove from favourite
                <svg class="remove-heart" width="16" height="16">
                    <use href="../assets/svg/symbol-defs.svg#icon-clicked_heart"></use>

                </svg>
            </button>
            <button class="add-to-favBtn" type="button">Add to favourite
                <svg class="heart" width="16" height="16">
                    <use href="../assets/svg/symbol-defs.svg#icon-unclicked_heart"></use>
                </svg>
            </button>
        </div>
        <div class="card-styles">
            <h2 class="newsHomePage-title">8 tips for passing an online interview that will help you get a job
            </h2>
            <p class="newsHomePage-text">Before you start looking for a job, it is useful to familiarize
                yourself
                with the job prospects offered
                by these...</p>
        </div>
        <div class="homePage-readMore">
            <p class="newsHomePage-date">24/02/2023</p>
            <a class="newsHomePage-readMore-link" href="">Read more</a>
        </div>
    </div> -->
</div>
<div id="pagination-container"></div>
</div>