.categories-desktop-list > li > span,
.categories-table-list > li > span,
.categories-list > li > span {
  text-overflow: ellipsis;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.categories {
  display: none;
  margin: 0;
  padding: 10px 0 0 0;
  position: absolute;
  top: 130px;
  z-index: 100;
  @media screen and (min-width: 768px) {
    top: 160px;
  }
}
.categories-list {
  background-color: rgb(245, 243, 243);
  border-radius: 10px;
  position: relative;
  left: 0px;
  text-align: center;
  top: 10px;
  width: 120px;
  height: 350px;
  overflow-y: scroll;
}
.categories-desktop-list,
.categories-table-list {
  background-color: rgb(245, 243, 243);
  border-radius: 10px;
  position: relative;
  left: -30px;
  text-align: center;
  top: 10px;
  width: 170px;
  height: 350px;
  overflow-y: scroll;
}

.newsHP-categories:hover {
  .categories {
    display: block;
  }
}
.article-btn.others:hover {
  .categories {
    display: block;
  }
}
ul.categories-list > li,
.categories-table-list > li,
.categories-desktop-list > li {
  font-size: 14px;
  opacity: 0.8;
  color: #4440f6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
ul.categories-list > li:hover,
.categories-table-list > li:hover,
.categories-desktop-list > li:hover {
  opacity: 1;
  transform: scaleX(1.1);
  text-decoration: underline rgb(8, 56, 146);
  cursor: pointer;
}
ul.categories-list::-webkit-scrollbar,
.categories-table-list::-webkit-scrollbar,
.categories-desktop-list::-webkit-scrollbar {
  display: none;
}
