.categories-list > li > span {
  text-overflow: ellipsis;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.switchedImg {
  transform: rotate(180deg);
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.categories-menu {
  position: relative;
}
.categories {
  margin: 0;
  padding: 10px 0 0 0;
  position: absolute;
  top: 30px;
  z-index: 100;
  transition: all 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    right: -20px;
  }
}
.categories:hover {
  .article-btn {
    background-color: var(--accent-color);
    color: var(--extra-color);
    svg.others-arrow-down {
      fill: #fff;
    }
  }
  .newsHP-categories {
    background-color: var(--accent-color);
    color: var(--extra-color);

    svg.categ-arrow-down {
      fill: #fff;
    }
  }
}
.categories-list {
  background-color: rgb(245, 243, 243);
  border-radius: 10px;
  left: 0px;
  text-align: center;
  top: 10px;
  width: 120px;
  height: 350px;
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    width: 160px;
  }
}
ul.categories-list > li {
  font-size: 14px;
  opacity: 0.8;
  color: #4440f6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
ul.categories-list > li:hover {
  opacity: 1;
  transform: scaleX(1.1);
  text-decoration: underline rgb(8, 56, 146);
  cursor: pointer;
}
ul.categories-list::-webkit-scrollbar {
  display: none;
}
