<header>
  <div class="logo">
    <a href="#">News</a>
  </div>
  <nav>
    <ul>
      <li class="current"><a href="#">Home</a></li>
      <li class="current"><a href="#">Favorite</a></li>
      <li class="current"><a href="#">Read</a></li>
    </ul>
  </nav>
  <div class="search">
    <input type="text" placeholder="Search" />
    <button type="submit">Search</button>
  </div>
  <div>
    <ul class="switch-btn_choice">
      <li class="switch-btn_choice_light">Light</li>
      <li class="switch-btn switch-on"></li>
      <li class="switch-btn_choice_black">Black</li>
    </ul>
  </div>
  <div class="burger-menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>
