<div class="revision-date container">
  <p class="revision-date-title">
    22/02/21 <span class="revision-date-arrow up"></span>
  </p>

  <div class="gallery-text">
    <div class="home-page-container">
      <div class="gallery gallery-read">
        <div class="newsHomePage-card">
          <div class="card-picture">
            <img class="newsHomePage-image" src="/assets/HP-1.jpg" alt="news cover" width="288" height="395" />
            <p class="newsHomePage-status-read">Already read</p>
            <p class="newsHomePage-search-category">Job searching</p>
            <button class="remove-from-favourite" type="button">
              Remove from favourite
              <svg class="remove-heart" width="16" height="16">
                <use href="../assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
              </svg>
            </button>
            <button class="add-to-favBtn" type="button">
              Add to favourite
              <svg class="heart" width="16" height="16">
                <use href="../assets/svg/symbol-defs.svg#icon-unclicked_heart"></use>
              </svg>
            </button>
          </div>
          <div>
            <h2 class="newsHomePage-title">
              8 tips for passing an online interview that will help you get a
              job
            </h2>
            <p class="newsHomePage-text">
              Before you start looking for a job, it is useful to familiarize
              yourself with the job prospects offered by these...
            </p>
          </div>
          <div class="homePage-readMore">
            <p class="newsHomePage-date">24/02/2023</p>
            <a class="newsHomePage-readMore-link" href="">Read more</a>
          </div>
        </div>
        <div class="newsHomePage-card">
          <div class="card-picture">
            <img class="newsHomePage-image" src="/assets/HP-4.jpg" alt="news cover" width="288" height="395" />
            <p class="newsHomePage-search-category">Job searching</p>
            <button class="add-to-favBtn" type="button">
              Add to favourite
              <svg class="heart" width="16" height="16">
                <use href="/assets/svg/symbol-defs.svg#icon-unclicked_heart"></use>
              </svg>
            </button>
          </div>
          <div>
            <h2 class="newsHomePage-title">
              8 tips for passing an online interview that will help you get a
              job
            </h2>
            <p class="newsHomePage-text">
              Before you start looking for a job, it is useful to familiarize
              yourself with the job prospects offered by these...
            </p>
          </div>
          <div class="homePage-readMore">
            <p class="newsHomePage-date">24/02/2023</p>
            <a class="newsHomePage-readMore-link" href="">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/src/js/readPage/readPageFeature.js"></script>

<!-- <script></script> -->