<div class="gallery-favourite">
  <div class="newsHomePage-card">
    <div class="card-picture">
      <img class="newsHomePage-image" src="/assets/H1-desktop.jpg" alt="news cover" />
      <p class="newsHomePage-search-category">Job searching</p>
      <button class="remove-from-favourite" type="button">
        Remove from favourite
        <svg class="remove-heart" width="16" height="16">
          <use href="../assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="newsHomePage-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="newsHomePage-text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="homePage-readMore">
      <p class="newsHomePage-date">20/02/2021</p>
      <a class="newsHomePage-readMore-link" href="">Read more</a>
    </div>
  </div>
  <div class="newsHomePage-card">
    <div class="card-picture">
      <img class="newsHomePage-image" src="/assets/H2-desktop.jpg" alt="news cover" />
      <p class="newsHomePage-search-category">Job searching</p>
      <button class="remove-from-favourite" type="button">
        Remove from favourite
        <svg class="remove-heart" width="16" height="16">
          <use href="/assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="newsHomePage-title">
        How to create an effective work-at-home policy
      </h2>
      <p class="newsHomePage-text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="homePage-readMore">
      <p class="newsHomePage-date">20/02/2021</p>
      <a class="newsHomePage-readMore-link" href="">Read more</a>
    </div>
  </div>
  <div class="newsHomePage-card">
    <div class="card-picture">
      <img class="newsHomePage-image" src="/assets/H3-desktop.jpg" alt="news cover" />
      <p class="newsHomePage-search-category">Job searching</p>
      <button class="remove-from-favourite" type="button">
        Remove from favourite
        <svg class="remove-heart" width="16" height="16">
          <use href="/assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="newsHomePage-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="newsHomePage-text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="homePage-readMore">
      <p class="newsHomePage-date">20/02/2021</p>
      <a class="newsHomePage-readMore-link" href="">Read more</a>
    </div>
  </div>
  <div class="newsHomePage-card">
    <div class="card-picture">
      <img class="newsHomePage-image" src="/assets/H4-desktop.jpg" alt="news cover" />
      <p class="newsHomePage-search-category">Job searching</p>
      <button class="remove-from-favourite" type="button">
        Remove from favourite
        <svg class="remove-heart" width="16" height="16">
          <use href="/assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="newsHomePage-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="newsHomePage-text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="homePage-readMore">
      <p class="newsHomePage-date">20/02/2021</p>
      <a class="newsHomePage-readMore-link" href="">Read more</a>
    </div>
  </div>
  <div class="newsHomePage-card">
    <div class="card-picture">
      <img class="newsHomePage-image" src="/assets/H5-desktop.jpg" alt="news cover" />
      <p class="newsHomePage-search-category">Job searching</p>
      <button class="remove-from-favourite" type="button">
        Remove from favourite
        <svg class="remove-heart" width="16" height="16">
          <use href="/assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="newsHomePage-title">
        How to create an effective work-at-home policy
      </h2>
      <p class="newsHomePage-text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="homePage-readMore">
      <p class="newsHomePage-date">20/02/2021</p>
      <a class="newsHomePage-readMore-link" href="">Read more</a>
    </div>
  </div>
  <div class="newsHomePage-card">
    <div class="card-picture">
      <img class="newsHomePage-image" src="/assets/H6-desktop.jpg" alt="news cover" />
      <p class="newsHomePage-search-category">Job searching</p>
      <button class="remove-from-favourite" type="button">
        Remove from favourite
        <svg class="remove-heart" width="16" height="16">
          <use href="/assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="newsHomePage-title">
        How to create an effective work-at-home policy
      </h2>
      <p class="newsHomePage-text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="homePage-readMore">
      <p class="newsHomePage-date">20/02/2021</p>
      <a class="newsHomePage-readMore-link" href="">Read more</a>
    </div>
  </div>
  <div class="newsHomePage-card">
    <div class="card-picture">
      <img class="newsHomePage-image" src="/assets/H7-desktop.jpg" alt="news cover" />
      <p class="newsHomePage-search-category">Job searching</p>
      <button class="remove-from-favourite" type="button">
        Remove from favourite
        <svg class="remove-heart" width="16" height="16">
          <use href="/assets/svg/symbol-defs.svg#icon-clicked_heart"></use>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="newsHomePage-title">
        How to create an effective work-at-home policy
      </h2>
      <p class="newsHomePage-text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="homePage-readMore">
      <p class="newsHomePage-date">20/02/2021</p>
      <a class="newsHomePage-readMore-link" href="">Read more</a>
    </div>
  </div>
</div>


