#pagination-container {
  display: none;
  flex-direction: row;
  gap: 8px;

  margin-top: 40px;
  margin-bottom: 150px;

  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 48px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 150px;
    margin-top: 60px;
  }
}

.pagination {
  &-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &-button {
    min-width: 33px;
    background-color: #f4f4f4;
    border: 1px solid #4440f6;
    border-radius: 7px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(22 / 16);
    color: #111321;
    transition: all 0.3s ease-in-out;
    padding: 8px 10px;
    @media screen and (max-width: 767px) {
      min-width: 28px;
      padding: 7px;
      font-size: 14px;
      line-height: calc(19 / 14);
    }

    &.active,
    &:hover {
      color: #f4f4f4;
      background: #4440f6;
      cursor: pointer;
      box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 0px rgba(0, 0, 0, 0);
    }
  }

  &-dots {
    margin-top: auto;
    color: #111321;
    font-size: 16px;
    line-height: calc(22 / 16);
  }
}

.dark .pagination-button {
  box-shadow: 0px 10px 13px -7px #000000,
    0px 5px 15px 0px rgba(240, 216, 240, 0.753);
}

.dark .pagination-button:hover,
.dark .pagination-button:focus {
  box-shadow: 0px 10px 13px -7px #000000,
    0px 5px 15px 0px rgba(240, 234, 241, 0.685);
}
.prev-button,
.next-button {
  width: 82px;
  padding: 7px;
  background-color: #f4f4f4;
  border: 1px solid #4440f6;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: #111321;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 0px rgba(0, 0, 0, 0);
  @media screen and (max-width: 767px) {
    min-width: 65px;
    font-size: 14px;
    line-height: calc(19 / 14);
  }

  &:hover {
    color: #f4f4f4;
    background: #4440f6;
    cursor: pointer;
  }
}

.dark .prev-button:hover,
.dark .next-button:hover,
.dark .prev-button:focus,
.dark .prev-button:focus {
  box-shadow: 0px 10px 13px -7px #000000,
    0px 5px 15px 0px rgba(240, 234, 241, 0.685);
}

.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;

  &:hover {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
