:root {
  --accent-color: #4440f6;
  --text-color: #000000
  --main-white: #ffffff;
  --main-calendar-background: #f8f8f8;
  --drop-down-icon: #a2a2a2;
  --inactive-text: rgba(60, 60, 67, 0.3);
  --border-inactive: rgba(162, 162, 162, 1);
  --darkmode: #2e2e2e;
}

ul {
  padding: 0;
}

/////

.calendar-form {
  cursor: pointer;
  position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    display: flex;
}
.calendar-form__text {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
  display: inline;
  align-items: center;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.38;
  margin-right: 37px;
  }
}
.dark .calendar-form__text {
  color: var(--main-calendar-background);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// isActive ----------
.calendar-input.isActive::placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}

.calendar-input.isActive {
  background-color: var(--accent-color);
  color: #fff;
  border-color: var(--accent-color);
  // border: 1px solid #4440f7;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.dark .calendar-input.isActive {
  border-color: var(--accent-color);
}
.calendar-wrapper.is-hidden-wrapper {
  pointer-events: none;
}

.calendar-wrapper.is-hidden-wrapper > .calendar-wrapper__container {
  transform: translateY(-104%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 31px;
  border: 1px solid rgba(17, 19, 33, 1);
  outline: var(--accent-color);
  border-radius: 20px;
   text-align: center;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    height: 31px;
    font-size: 14px;
    line-height: 1.5;
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.dark .calendar-input {
  border-color: var(--main-calendar-background);
  color:#f8f8f8;
}
.calendar-input::placeholder {
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.calendar__button-calendar {
  position: absolute;
  fill: #4440f6;
  left: 9px;
  top: 6px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dark .calendar__button-calendar {
  fill: #4440f6;
}
.calendar__button-calendar.switchedColor {
  z-index: 1;
  fill: var(--main-calendar-background);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
   position: relative;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.dark .input-form {
  background-color: var(--darkmode);
}

.calendar__button-arrow {
  margin-left: 12px;
  display: flex;
  position: absolute;
  z-index: 1;
  fill: rgba(162, 162, 162, 1);
  right: 12px;
  cursor: pointer;
  rotate: 0;
  transition: all 250ms ease-in-out;
}
.calendar__button-arrow.switched {
  fill: var(--main-calendar-background);
    transform: rotate(180deg);
}

.dark .calendar__button-arrow {
  fill:#F4F4F4;
}

.calendar__button-arrow-icon {
   cursor: pointer;
   fill: var(--accent-color);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    rotate: none;
    transition: fill 250ms ease-in-out;

  &:hover,
  &:focus {
    fill: var(--inactive-text);
  }
}

.calendar__button-back {
  fill: var(--accent-color);
}

.calendar-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  display: block;
  width: 250px;
  height: 350px;
  right: 0px;
  pointer-events: auto; 
}

.calendar-wrapper__container {
  cursor: default;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  margin-left: 0;
  padding: 16px 16px 20px 16px;
  width: 250px;
  // height: 500px;
  right: 0px;
  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar-switcher {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  height: 44px;
  margin-bottom: 2px;
  align-items: center;
}

.current-date {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: 'case' on;
  color: var(--text-color);
}

.calendar-icons {
  display: flex;
  color: var(--accent-color);
}


.calendar-icons span {
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  fill: var(--accent-color);
  display: flex;
  transition: all 250ms ease-in-out;
}

.calendar-icons span:last-child {
  margin-right: -10px;
}

.calendar-icons span:hover {
  background: var(--main-calendar-background);
}

.year-change{
  fill: var(--accent-color);
    display: flex;
    rotate: 0deg;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    transition: all 250ms ease-in-out;
    
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--main-calendar-background);
    cursor: pointer;
    border-radius: 20px;
  }
  
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}


.calendar li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  // margin-bottom: 14px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  // letter-spacing: -0.078px;
  color: rgba(60, 60, 67, 0.3);
}

.calendar .days li {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.38px;
  color: var(--text-color);
  z-index: 1;
  border-radius: 25%;
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
  transition: all 250ms ease-in-out;
  
  &:hover,
  &:focus {
    background-color: var(--inactive-text);
    color: #fff;
  }
}



.calendar .days li:nth-last-child(-n + 7) {
  margin-bottom: 0;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 28px;
  width: 28px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: var(--accent-color);
}

.year-list[data-simplebar] {
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -20px;
  right: 240px;
  margin-top: 20px;
  // border-radius: 15px;
  padding: 15px 5px;
  border-top-left-radius: 15px;
  background-color: var(--main-calendar-background);
  height: 270px;
  overflow: auto;
}

.year-list--active[data-simplebar] {
  visibility: visible;
  opacity: 1;
  width: 80px;

  .simplebar-scrollbar::before {
    width: 4px;
    background-color: var(--accent-color);
  }

  .simplebar-scrollbar.simplebar-visible::before {
    opacity: 0.7;  
  }
}

.year-list[data-simplebar] {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -10px;
  right: 175px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: var(--main-calendar-background);
  position: absolute;
  height: 240px;
  overflow: auto;
}

.year-list--active[data-simplebar] {
  visibility: visible;
  opacity: 1;

  .simplebar-scrollbar::before {
    width: 5px;
    background-color: var(--accent-color);
  }

  .simplebar-scrollbar.simplebar-visible::before {
    opacity: 0.7;
  }
}

.simplebar-content {
  display: flex;
  flex-direction: column;
}

.yearListButtons {
  margin-bottom: 5px;
  width: 70px;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus{
    color: var(--main-calendar-background);
    background-color: var(--accent-color);
    cursor: pointer;
  }
}

.yearListButtons {
  margin-bottom: 10px;
  width: 70px;
  border-radius: 0;
  border: 2px;
  background-color: #f8f8f8;
  transition: all 250ms ease-in-out;
  
  &:hover,
  &:focus {
    color: #fff;
    background-color: #4440f6;
    cursor: pointer;
  }
}
