body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: var(--main-text-color);
}
.dark body {
  background-color: var(--darkmode);
}
:root {
  --accent-color: #4440f6;
  --main-text-color: #111321;
  --light-color: #a8a8a8;
  --extra-color: #ffffff;
  --marked-read-color: #00dd73;
  --darkmode: #2e2e2e;
}
.home-page-container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.dark .home-page-container {
  background-color: var(--darkmode);
}
.items-to-choose {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 28px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin: 28px 0 60px 0;
    justify-content: space-around;
  }
}
.newsHP-categories {
  border-radius: 20px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 7px 13px;
  font-size: 12px;
  line-height: 1.33;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.newsHP-categories:focus {
  background-color: var(--accent-color);
  color: var(--extra-color);
}
button.newsHP-categories:hover {
  background-color: var(--accent-color);
  color: var(--extra-color);

  svg.categ-arrow-down {
    fill: #fff;
  }
}

///////////teblet buttons
.articles-to-choose-tablet {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 14px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.article-btn {
  font-size: 12px;
  line-height: 1.14;
  padding: 8px 21px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  height: 31px;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    padding: 8px 22.5px;
    font-size: 14px;
  }
}

.desktop-btn {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: inline-flex;
  }
}
.article-btn:hover {
  background-color: var(--accent-color);
  color: var(--extra-color);
  svg.others-arrow-down {
    fill: #fff;
  }
}
.categ-arrow-down,
.others-arrow-down {
  margin-left: 10px;
  fill: var(--accent-color);
  rotate: 0;
  transition: all 250ms ease-in-out;
}
.calendar-arrow-down {
  margin-left: 14px;
  fill: var(--light-color);
}
.calendar-arrow-up {
  display: none;
}

.newsHP-calendar:focus .calendar-svg {
  fill: var(--extra-color);
}
.calendar-svg {
  margin-right: 10px;
  fill: var(--accent-color);
}

/////////////виджет погоды

.weather-app {
  background-image: url(/assets/window.jpg);
  border-radius: 15px;

  @media screen and (max-width: 767px) {
    width: 288px;
    height: 470px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 675px;
    width: 353px;
    float: right;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 675px;
    float: right;
  }
}

.weather-info {
  display: flex;
  margin: 32px 30px 40px 30px;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 90px;
  }
}
.degrees {
  font-family: 'Roboto';
  font-size: 50px;
  line-height: 1.16;
  padding-left: 0;
  color: var(--extra-color);
  @media screen and (min-width: 768px) {
    font-size: 74px;
    line-height: 1.17;
    padding-left: 10px;
  }
}
.whats-the-weather {
  font-size: 24px;
  line-height: 1.16;
  color: var(--extra-color);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.16;
  }
}

.show-on-map {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  color: var(--extra-color);
  background: linear-gradient(
    90deg,
    rgba(164, 146, 154, 1) 8%,
    rgba(61, 103, 215, 1) 100%
  );
  box-shadow: 0 0.5em 0.5em -0.4em var(--extra-color);
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.15;
  border-style: none;
  padding: 9px 13px 7px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 24px;
    padding: 10px 17px 7px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 26px;
  }
}

.geolocation-icon {
  margin-right: 4px;
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.info-border {
  width: 0px;
  height: 80px;
  border: 1px solid #ffffff;
  margin-left: 15px;
  margin-right: 10px;
}

.sun-moon {
  margin: 0 auto;
  width: 148px;
  height: 141px;
  @media screen and (min-width: 768px) {
    margin-bottom: 70px;
  }
}
.weather-icon {
  margin-bottom: 30px;
}
.week-day,
.weather-date {
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 1.17;
  color: var(--extra-color);
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 46px;
    line-height: 1.16;
  }
}
.weather-date {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}
.weatherApp-link {
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.18;
  padding: 8px 14px;
  color: var(--extra-color);
  background: rgb(164, 146, 154);
  background: linear-gradient(
    90deg,
    rgba(164, 146, 154, 1) 8%,
    rgba(61, 103, 215, 1) 100%
  );
  box-shadow: 0 0.5em 0.5em -0.4em var(--extra-color);
  opacity: 0.8;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 1.15;
  }
}
.sinoptik {
  text-align: center;
}
///////////////////////////////////////
.gallery {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 40px;
    width: 288px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-wrap: wrap;
    width: 768px;
    gap: 30px;
    margin-bottom: 48px;
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 1280px) {
    row-gap: 32px;
    column-gap: 40px;
    width: 1280px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 60px;
  }
}

.newsHomePage-card {
  height: 630px;
  box-shadow: 3px 3px 20px rgb(82, 62, 69);
  border-radius: 15px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 353px;
    height: 675px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 675px;
  }
}

.dark .newsHomePage-card {
  box-shadow: 0px 10px 13px -7px #000000,
    0px 5px 15px 0px rgba(236, 209, 235, 0.979);
}
.marked-opacity {
  opacity: 0.7;
}
.card-styles {
  box-shadow: 3px 3px 20px rgb(82, 62, 69);
  border-radius: 15px;
}
.card-picture {
  position: relative;
  margin-bottom: 20px;
}
.newsHomePage-image {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.newsHomePage-search-category {
  position: absolute;
  left: 0px;
  top: 40px;
  opacity: 0.7;
  background-color: var(--accent-color);
  padding: 5px 8px;
  color: var(--extra-color);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.newsHomePage-status-read {
  font-weight: 700;
  position: absolute;
  color: var(--marked-read-color);
  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 167px;
    top: 14px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    left: 225px;
    top: 20px;
  }
  @media screen and (min-width: 1280px) {
    left: 267px;
    top: 20px;
  }
}
.dispNo.newsHomePage-status-read {
  display: none;
}
.marked-read {
  text-align: center;
}
.add-to-favBtn {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  border-radius: 20px;
  background-color: var(--extra-color);
  border-color: 1px solid var(--extra-color);
  border-bottom-width: 0;
  border-right-width: 0;
  padding: 6px 12px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 154px;
    top: 355px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    left: 215px;
    top: 355px;
  }
  @media screen and (min-width: 1280px) {
    left: 256px;
    top: 355px;
  }
}
.remove-from-favourite {
  position: absolute;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 5px;
  border-width: 0;
  width: 168px;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  border-radius: 20px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 112px;
    top: 355px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    left: 173px;
    top: 355px;
  }
  @media screen and (min-width: 1280px) {
    left: 215px;
    top: 355px;
  }
}

.newsHomePage-title {
  height: 130px;
  overflow: hidden;
  padding-left: 5px;
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 5px 15px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 0px rgba(0, 0, 0, 0);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(207, 201, 203);
  background: linear-gradient(
    90deg,
    rgba(207, 201, 203, 1) 8%,
    rgba(181, 190, 213, 1) 100%
  );
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.newsHomePage-text {
  margin-bottom: 8px;
  padding-left: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 0px rgba(0, 0, 0, 0);

  @media screen and (max-width: 767px) {
    max-height: 50px;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    height: 66px;
    margin-bottom: 20px;
  }
}
.dark .newsHomePage-text {
  color: var(--extra-color);
  box-shadow: 0px 10px 13px -7px #000000,
    0px 5px 15px 0px rgba(236, 209, 235, 0.979);
}
.newsHomePage-title:hover {
  color: var(--light-color);
  background: rgb(82, 62, 69);
  background: linear-gradient(
    90deg,
    rgba(82, 62, 69, 1) 8%,
    rgba(34, 50, 92, 1) 100%
  );
  transition: transform 250ms cubic-bezier(0.45, 0.86, 0.49, 0.74);
}
.homePage-readMore {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  @media screen and (max-width: 767px) {
    height: 15px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    height: 22px;
  }
}
.newsHomePage-date {
  color: var(--light-color);
}
.newsHomePage-readMore-link {
  color: var(--accent-color);
  text-decoration: none;
  padding-bottom: 3px;
}

.next-btn {
  margin-left: 10px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  height: 28px;
  @media screen and (min-width: 1280px) {
    margin-left: 18px;
    font-size: 16px;
    font-weight: 500;
  }
}
