body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: var(--main-text-color);
}
:root {
  --accent-color: #4440f6;
  --main-text-color: #111321;
  --light-color: #a8a8a8;
  --extra-color: #ffffff;
  --marked-read-color: #00dd73;
}
.home-page-container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.items-to-choose {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 28px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 28px;
    margin-bottom: 60px;
    justify-content: center;
  }
}
.newsHP-categories {
  border-radius: 20px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 7px 13px;
  font-size: 12px;
  line-height: 1.33;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.newsHP-categories:focus {
  background-color: var(--accent-color);
  color: var(--extra-color);
}
.newsHP-categories:focus .categ-arrow-down {
  rotate: 0;
  transition: all 250ms ease-in-out;
}
.newsHP-categories:focus .switch-arrows {
  fill: #fff;
  transform: rotate(180deg);
}

///////////teblet buttons
.articles-to-choose-tablet {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 14px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}
.article-btn {
  font-size: 12px;
  line-height: 1.14;
  padding: 8px 21px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  height: 31px;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    padding: 8px 22.5px;
    font-size: 14px;
  }
}

.article-btn:focus {
  background-color: var(--accent-color);
  color: var(--extra-color);
}
.categ-arrow-down,
.others-arrow-down {
  margin-left: 10px;
  fill: var(--accent-color);
}
.calendar-arrow-down {
  margin-left: 14px;
  fill: var(--light-color);
}
.others-arrow-up,
.calendar-arrow-up {
  display: none;
}
.others:focus .others-arrow-down {
  display: none;
}
.others:focus .others-arrow-up {
  fill: var(--extra-color);
  margin-left: 14px;
  display: inline;
}
.newsHP-calendar:focus .calendar-svg {
  fill: var(--extra-color);
}
.calendar-svg {
  margin-right: 10px;
  fill: var(--accent-color);
}

// .newsHP-calendar:focus .calendar-arrow-down {
//   display: none;
// }
// .newsHP-calendar:focus .calendar-arrow-up {
//   display: inline;
//   margin-left: 14px;
//   fill: var(--extra-color);
// }
/////////////виджет погоды
.weather-position {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    float: right;
    padding-right: 16px;
    height: 675px;
    width: 353px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 675px;
    float: right;
  }
}

.weather-app {
  background-image: url(/assets/window.jpg);
  border-radius: 4px;
  margin: auto;
  @media screen and (max-width: 767px) {
    width: 288px;
    height: 470px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 675px;
    width: 353px;
    float: right;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 675px;
    float: right;
  }
}

.weather-info {
  display: flex;
  margin: 32px 36px 40px 36px;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 90px;
  }
}
.degrees {
  font-family: 'Roboto';
  font-size: 55px;
  line-height: 1.16;
  color: var(--extra-color);
  @media screen and (min-width: 768px) {
    font-size: 74px;
    line-height: 1.17;
    padding-left: 10px;
  }
}
.whats-the-weather {
  font-size: 24px;
  line-height: 1.16;
  color: var(--extra-color);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.16;
  }
}

.show-on-map {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--extra-color);
  background: linear-gradient(
    90deg,
    rgba(164, 146, 154, 1) 8%,
    rgba(61, 103, 215, 1) 100%
  );
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.15;
  border-style: none;
  padding: 9px 17px 7px;
  @media screen and (min-width: 768px) and (max-width) {
    font-size: 22px;
    padding: 10px 17px 7px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}
.geolocation-icon {
  margin-right: 4px;
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.info-border {
  width: 0px;
  height: 80px;
  border: 1px solid #ffffff;
  margin-left: 15px;
  margin-right: 10px;
}

.sun-moon {
  margin: 0 auto;
  width: 148px;
  height: 141px;
  // margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 70px;
  }
}
.weather-icon {
  margin-bottom: 30px;
}
.week-day,
.weather-date {
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 1.17;
  color: var(--extra-color);
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 46px;
    line-height: 1.16;
  }
}
.weather-date {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}
.weatherApp-link {
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.18;
  padding: 8px 14px;
  color: var(--extra-color);
  background: rgb(164, 146, 154);
  background: linear-gradient(
    90deg,
    rgba(164, 146, 154, 1) 8%,
    rgba(61, 103, 215, 1) 100%
  );
  opacity: 0.8;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 1.15;
  }
}
.sinoptik {
  text-align: center;
}
///////////////////////////////////////
.gallery {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  gap: 28px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    column-gap: 28px;
    margin-bottom: 40px;
    width: 288px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-wrap: wrap;
    width: 768px;
    gap: 30px;
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 1280px) {
    row-gap: 32px;
    column-gap: 40px;
    width: 1280px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.newsHomePage-card {
  height: 630px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 353px;
    height: 675px;
    // display: inline-block;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 675px;
    // display: inline-block;
  }
}
.marked-opacity {
  opacity: 0.7;
}
// .categories-mobile {
//   padding: 13px;
//   background-color: var(--accent-color);
//   border: 1px solid var(--accent-color);
//   border-radius: 20px;
// }

.card-picture {
  position: relative;
  margin-bottom: 20px;
}
.newsHomePage-image {
  height: 395px;
  width: 288px;
  background-size: contain;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 353px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}
.newsHomePage-search-category {
  position: absolute;
  left: 0px;
  top: 40px;
  opacity: 0.7;
  background-color: var(--accent-color);
  padding: 5px 8px;
  color: var(--extra-color);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.newsHomePage-status-read {
  font-weight: 700;
  position: absolute;
  color: var(--marked-read-color);
  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 167px;
    top: 14px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    left: 225px;
    top: 20px;
  }
  @media screen and (min-width: 1280px) {
    left: 267px;
    top: 20px;
  }
}
.marked-read {
  text-align: center;
}
.add-to-favBtn {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  border-radius: 20px;
  background-color: var(--extra-color);
  border-color: 1px solid var(--extra-color);
  border-bottom-width: 0;
  border-right-width: 0;
  padding: 6px 12px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 154px;
    top: 355px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    left: 215px;
    top: 355px;
  }
  @media screen and (min-width: 1280px) {
    left: 256px;
    top: 355px;
  }
}
.remove-from-favourite {
  position: absolute;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 5px;
  border-width: 0;
  width: 168px;
  left: 12px;
  top: 355px;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  border-radius: 20px;
}

.newsHomePage-title {
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}
.newsHomePage-text {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.homePage-readMore {
  display: flex;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.newsHomePage-date {
  color: var(--light-color);
}
.newsHomePage-readMore-link {
  color: var(--accent-color);
  text-decoration: none;
}
