.header-section {
  background-color: #f4f4f4;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  height: 81px;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 106px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    height: 113px;
  }
}

.dark .header-section {
  background-color: #2e2e2e;
  border-bottom: #a8a8a8 1px solid;
}

.dark .header-container {
  background-color: #2e2e2e;
}

.logo_link {
  font-family: 'Manrope';
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  color: #111321;
  line-height: 33px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo_link {
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .logo_link {
    font-style: normal;
    font-size: 42px;
    line-height: 57px;
  }
}

.dark .logo_link {
  color: #f4f4f4;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
    display: flex;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list_item {
    margin-left: 44px;
  }

  .nav-list_item:first-child {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-list_item {
    margin-left: 69px;
  }
  .nav-list_item:first-child {
    margin-left: 0px;
  }
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #4440f6;
  text-align: center;
}

.dark .current::after {
  background-color: #4440f6;
}

@media screen and (min-width: 768px) {
  .current::after {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .current::after {
    margin-top: 5px;
  }
}

.nav-list_item_link {
  font-family: 'Manrope';
  font-style: normal;
  color: #111321;
  text-decoration: none;
}

.dark .nav-list_item_link {
  color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .nav-list_item_link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  .nav-list_item_link:hover {
    border-bottom: #4440f6 2px solid;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-list_item_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .nav-list_item_link:hover {
    border-bottom: #4440f6 2px solid;
    padding-bottom: 5px;
  }
}

.search-input {
  display: none;
  padding-left: 48px;
}
.dark .search-input {
  background-color: #2e2e2e;
  color: #f4f4f4;
}
.search-icon {
  background-color: #fff;
}
.dark .search-icon {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
}
.search-form__button {
  border: none;
  background-color: #ffffff;
}

.dark .search-form__button {
  background-color: #2e2e2e;
}

.search input {
  border: #111321 1px solid;
  border-radius: 20px;
  height: 31px;
}

.dark .search input {
  border: #f4f4f4 1px solid;
}

@media screen and (min-width: 768px) {
  .search-input {
    display: block;
    width: 213px;
  }
}

@media screen and (min-width: 1280px) {
  .search-input {
    display: block;
    padding-left: 48px;
    width: 288px;
  }
}

.search input[type='text']:hover {
  border: #007bff 2px solid;
}

.dark .search input[type='text']:hover {
  border: #4440f6 2px solid;
}

.search-input:hover + .search-btn .search-icon {
  fill: #007bff;
}

.dark .search-input:hover + .search-btn .search-icon {
  fill: #ffffff;
}

input::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: #111321;
  opacity: 40%;
}

.dark input::placeholder {
  color: #f4f4f4;
  opacity: 40%;
}

input:hover::placeholder {
  color: #f4f4f4;
}

.dark input:focus::placeholder {
  color: #f4f4f4;
}
//------------------------------------------------------//

.is-open .theme-choice {
  position: fixed;
  bottom: 18px;
  left: 18px;
}

.switch-btn {
  display: none;
}

.is-open .switch-btn {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #ffffff;
  z-index: 1000;
  margin: 0;
  padding: 0;
  border: 1px solid #4b48db;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}

.dark .is-open .switch-btn {
  background: #4b48db;
  border: 1px solid white;
}

@media screen and (min-width: 768px) {
  .switch-btn {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: #ffffff;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #4b48db;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
  }

  .dark .switch-btn {
    background: #4b48db;
    border: 1px solid white;
  }
}

.switch-btn::after {
  content: '';
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background: #4b48db;
  top: 1px;
  right: 21px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.dark .switch-btn::after {
  background: white;
  left: 21px;
}

.switch-btn_choice {
  display: flex;
  align-items: center;
}

.switch-btn_choice_light {
  margin-right: 13px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  line-height: 89%;
  color: #4b48db;
}

.dark .switch-btn_choice_light {
  color: white;
}

.switch-btn_choice_dark {
  margin-left: 13px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24px;
  line-height: 89%;
  align-items: left;
  color: black;
}

.dark .switch-btn_choice_dark {
  color: #4440f7;
}

.switch-btn_choice_icon {
  display: none;
  width: 19px;
  height: 19px;
  stroke-width: 1.5;
}

.switch-btn_choice_dark-icon {
  margin-left: 11px;
  stroke: #5f6775;
}

.is-open .switch-btn_choice_dark-icon {
  display: block;
  margin-right: 1px;
}

.dark .switch-btn_choice_dark-icon {
  stroke: #4b48db;
}

.switch-btn_choice_ligh-icon {
  margin-right: 11px;
  stroke: #4b48db;
}

.is-open .switch-btn_choice_ligh-icon {
  display: block;
}

.dark .switch-btn_choice_ligh-icon {
  stroke: white;
}

.switch-btn_choice_text {
  display: none;
}

@media screen and (min-width: 768px) {
  .switch-btn_choice_icon {
    display: block;
    margin-right: 11px;
  }

  .switch-btn_choice_text {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .switch-btn_choice_text {
    display: block;
  }

  .switch-btn_choice_icon {
    display: none;
  }
}

//------------------------------------------------------//

.search {
  position: relative;
}

.search-btn {
  margin: 0 auto;
  border: none;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: transparent;
}

.dark .search-btn {
  background-color: #2e2e2e;
}

@media screen and (min-width: 768px) {
  .search-btn {
    left: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .search-btn {
    left: 14px;
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: inherit;
}

.dark .search-icon {
  fill: #f4f4f4;
}

.burger-btn {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn-icon {
    display: none;
  }
}

.dark .burger-btn-icon {
  fill: #f4f4f4;
}


